/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [VMElan]    Script Date: 8/6/2019 2:05:37 PM ******/
CREATE DATABASE [VMElan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VMElan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\VMElan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VMElan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\VMElan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VMElan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VMElan]
GO
USE [VMElan]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Vacation] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FacebookLogo] [nvarchar](100) NOT NULL,
	[FacebookLink] [nvarchar](100) NOT NULL,
	[InstagramLogo] [nvarchar](100) NOT NULL,
	[InstagramLink] [nvarchar](100) NOT NULL,
	[TwitterLogo] [nvarchar](100) NOT NULL,
	[TwitterLink] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorHistories]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AreaName] [nvarchar](max) NULL,
	[ControllerName] [nvarchar](max) NULL,
	[ActionName] [nvarchar](max) NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.ErrorHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeInfoes]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [nvarchar](50) NOT NULL,
	[Square] [nvarchar](30) NOT NULL,
	[Garage] [tinyint] NOT NULL,
	[Bathroom] [tinyint] NOT NULL,
	[Bedroom] [tinyint] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SaleTypeId] [int] NOT NULL,
	[AgentsId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[BackgroundImage] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HomeInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeProperties]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeProperties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.HomeProperties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeToProperties]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeToProperties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HomeInfoId] [int] NOT NULL,
	[HomePropertyId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.HomeToProperties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [nvarchar](max) NOT NULL,
	[HomeInfoId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanImages]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [nvarchar](max) NOT NULL,
	[HomeInfoId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.PlanImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rewievs]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rewievs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Vacantion] [nvarchar](100) NOT NULL,
	[Rate] [nvarchar](100) NOT NULL,
	[Comment] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[isPosted] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Rewievs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleTypes]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.SaleTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteInfoes]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Location] [nvarchar](500) NOT NULL,
	[WorkTime] [nvarchar](100) NOT NULL,
	[Facebook] [nvarchar](200) NOT NULL,
	[Twitter] [nvarchar](200) NOT NULL,
	[Instagram] [nvarchar](200) NOT NULL,
	[LinkedIn] [nvarchar](200) NOT NULL,
	[Pinterest] [nvarchar](200) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[Image] [nvarchar](max) NOT NULL,
	[AboutUsText] [nvarchar](1000) NOT NULL,
	[OurQualityText] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_dbo.SiteInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteServices]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](400) NOT NULL,
	[LogoClass] [nvarchar](200) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.SiteServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/6/2019 2:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Email], [Password], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (1, N'vusalim@code.edu.az', N'AFfQ3NI98/j2d0WkJ2XTqy+FEzKu6HWAkXE+ULyZjuOKG+FC7pATPmkO3h4lvfrrjA==', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Agents] ON 

SET IDENTITY_INSERT [dbo].[Agents] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Image], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (1, N'Building', N'2019_08_03_02_34_051.jpg', CAST(N'2019-08-03T14:34:05.277' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Image], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (2, N'Home', N'2019_08_03_02_34_192.jpg', CAST(N'2019-08-03T14:34:19.510' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Image], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (3, N'Villa', N'2019_08_03_02_34_273.jpg', CAST(N'2019-08-03T14:34:27.923' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [Image], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (1, N'New York', N'2019_08_03_02_48_311.jpg', CAST(N'2019-08-03T14:48:31.173' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Cities] ([Id], [Name], [Image], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (2, N'Florida', N'2019_08_03_02_48_392.jpg', CAST(N'2019-08-03T14:48:39.710' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Cities] ([Id], [Name], [Image], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (3, N'San Jose', N'2019_08_03_02_48_593.jpg', CAST(N'2019-08-03T14:48:59.130' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Message], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (1, N'Igbal', N'iqbal.hoff@list.ru', N'Salam', CAST(N'2019-08-05T21:24:56.900' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Message], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (2, N'Igbal', N'iqbal.hoff@list.ru', N'Salam', CAST(N'2019-08-05T21:26:03.220' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Message], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (3, N'Igbal', N'iqbal.hoff@list.ru', N'dawseqwadawseqwadawseqwadawseqwadawseqwadawseqwadawseqwadawseqwadawseqwa', CAST(N'2019-08-05T21:28:05.400' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[HomeInfoes] ON 

INSERT [dbo].[HomeInfoes] ([Id], [Name], [Price], [Square], [Garage], [Bathroom], [Bedroom], [Description], [CategoryId], [SaleTypeId], [AgentsId], [CityId], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate], [BackgroundImage]) VALUES (15, N'176 Kingsberry, Dr Anderson', N'1,777,000', N'900', 1, 2, 6, N'Lorem ipsum dolo sit azmet, consecter dipise consult elit. Maecenas mamus antesme non anean a dolor sample tempor nuncest erat.', 1, 1, 1, 6, CAST(N'2019-08-04T13:35:31.607' AS DateTime), NULL, NULL, NULL, NULL, NULL, N'2019_08_04_01_35_31s (1).jpg')
INSERT [dbo].[HomeInfoes] ([Id], [Name], [Price], [Square], [Garage], [Bathroom], [Bedroom], [Description], [CategoryId], [SaleTypeId], [AgentsId], [CityId], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate], [BackgroundImage]) VALUES (16, N'45 Lianne Dr, Greece Street', N'1255/month', N'750', 1, 2, 6, N'Lorem ipsum dolo sit azmet, consecter dipise consult elit. Maecenas mamus antesme non anean a dolor sample tempor nuncest erat.', 1, 2, 2, 7, CAST(N'2019-08-04T13:40:18.237' AS DateTime), NULL, NULL, NULL, NULL, NULL, N'2019_08_04_01_40_18s (2).jpg')
SET IDENTITY_INSERT [dbo].[HomeInfoes] OFF
SET IDENTITY_INSERT [dbo].[HomeProperties] ON 

INSERT [dbo].[HomeProperties] ([Id], [Name], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (1, N'Telephone', CAST(N'2019-08-03T14:31:02.330' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HomeProperties] ([Id], [Name], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (3, N'Air conditioning', CAST(N'2019-08-03T14:39:58.597' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HomeProperties] ([Id], [Name], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (4, N' Laundry Room', CAST(N'2019-08-03T14:40:11.030' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HomeProperties] OFF
SET IDENTITY_INSERT [dbo].[HomeToProperties] ON 

INSERT [dbo].[HomeToProperties] ([Id], [HomeInfoId], [HomePropertyId], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (29, 15, 9, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HomeToProperties] ([Id], [HomeInfoId], [HomePropertyId], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (30, 15, 8, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HomeToProperties] ([Id], [HomeInfoId], [HomePropertyId], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (31, 15, 7, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HomeToProperties] OFF
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([Id], [Photo], [HomeInfoId], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (32, N'2019_08_04_01_35_3112.jpg', 15, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Images] ([Id], [Photo], [HomeInfoId], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (33, N'2019_08_04_01_35_31as (2).jpg', 15, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Images] ([Id], [Photo], [HomeInfoId], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (34, N'2019_08_04_01_35_31as (3).jpg', 15, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[PlanImages] ON 

INSERT [dbo].[PlanImages] ([Id], [Photo], [HomeInfoId], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (19, N'2019_08_04_01_35_31plan-sketch - Copy (2).jpg', 15, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PlanImages] ([Id], [Photo], [HomeInfoId], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (20, N'2019_08_04_01_40_18plan-sketch - Copy.jpg', 16, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PlanImages] ([Id], [Photo], [HomeInfoId], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (21, N'2019_08_04_01_42_55plan-sketch - Copy (2).jpg', 17, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PlanImages] OFF
SET IDENTITY_INSERT [dbo].[SaleTypes] ON 

INSERT [dbo].[SaleTypes] ([Id], [Name], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (1, N'For Sale', CAST(N'2019-08-03T14:41:17.663' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SaleTypes] ([Id], [Name], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (2, N'For Rent', CAST(N'2019-08-03T14:41:24.773' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SaleTypes] OFF
SET IDENTITY_INSERT [dbo].[SiteInfoes] ON 

SET IDENTITY_INSERT [dbo].[SiteInfoes] OFF
SET IDENTITY_INSERT [dbo].[SiteServices] ON 

INSERT [dbo].[SiteServices] ([Id], [Name], [Description], [LogoClass], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (1, N'Consultant Service', N'In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.', N'fas fa-comments', NULL, NULL, NULL, CAST(N'2019-08-03T17:09:11.297' AS DateTime), NULL, NULL)
INSERT [dbo].[SiteServices] ([Id], [Name], [Description], [LogoClass], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (2, N'Properties Management', N'In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.', N'fas fa-home', NULL, NULL, NULL, CAST(N'2019-08-03T17:09:19.337' AS DateTime), NULL, NULL)
INSERT [dbo].[SiteServices] ([Id], [Name], [Description], [LogoClass], [CreatedDate], [CreatedId], [ModifiedId], [ModifiedDate], [DeletedId], [DeletedDate]) VALUES (3, N'Renting and Selling', N'In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.', N'fas fa-briefcase', NULL, NULL, NULL, CAST(N'2019-08-03T17:09:26.100' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SiteServices] OFF
/****** Object:  Index [IX_AgentsId]    Script Date: 8/6/2019 2:05:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_AgentsId] ON [dbo].[HomeInfoes]
(
	[AgentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 8/6/2019 2:05:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[HomeInfoes]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 8/6/2019 2:05:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[HomeInfoes]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SaleTypeId]    Script Date: 8/6/2019 2:05:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_SaleTypeId] ON [dbo].[HomeInfoes]
(
	[SaleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HomeInfoId]    Script Date: 8/6/2019 2:05:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_HomeInfoId] ON [dbo].[HomeToProperties]
(
	[HomeInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HomePropertyId]    Script Date: 8/6/2019 2:05:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_HomePropertyId] ON [dbo].[HomeToProperties]
(
	[HomePropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HomeInfoId]    Script Date: 8/6/2019 2:05:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_HomeInfoId] ON [dbo].[Images]
(
	[HomeInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HomeInfoId]    Script Date: 8/6/2019 2:05:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_HomeInfoId] ON [dbo].[PlanImages]
(
	[HomeInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SiteInfoes] ADD  DEFAULT ('') FOR [Image]
GO
ALTER TABLE [dbo].[HomeInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HomeInfoes_dbo.Agents_AgentsId] FOREIGN KEY([AgentsId])
REFERENCES [dbo].[Agents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomeInfoes] CHECK CONSTRAINT [FK_dbo.HomeInfoes_dbo.Agents_AgentsId]
GO
ALTER TABLE [dbo].[HomeInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HomeInfoes_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomeInfoes] CHECK CONSTRAINT [FK_dbo.HomeInfoes_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[HomeInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HomeInfoes_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomeInfoes] CHECK CONSTRAINT [FK_dbo.HomeInfoes_dbo.Cities_CityId]
GO
ALTER TABLE [dbo].[HomeInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HomeInfoes_dbo.SaleTypes_SaleTypeId] FOREIGN KEY([SaleTypeId])
REFERENCES [dbo].[SaleTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomeInfoes] CHECK CONSTRAINT [FK_dbo.HomeInfoes_dbo.SaleTypes_SaleTypeId]
GO
ALTER TABLE [dbo].[HomeToProperties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HomeToProperties_dbo.HomeInfoes_HomeInfoId] FOREIGN KEY([HomeInfoId])
REFERENCES [dbo].[HomeInfoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomeToProperties] CHECK CONSTRAINT [FK_dbo.HomeToProperties_dbo.HomeInfoes_HomeInfoId]
GO
ALTER TABLE [dbo].[HomeToProperties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HomeToProperties_dbo.HomeProperties_HomePropertyId] FOREIGN KEY([HomePropertyId])
REFERENCES [dbo].[HomeProperties] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomeToProperties] CHECK CONSTRAINT [FK_dbo.HomeToProperties_dbo.HomeProperties_HomePropertyId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Images_dbo.HomeInfoes_HomeInfoId] FOREIGN KEY([HomeInfoId])
REFERENCES [dbo].[HomeInfoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_dbo.Images_dbo.HomeInfoes_HomeInfoId]
GO
ALTER TABLE [dbo].[PlanImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PlanImages_dbo.HomeInfoes_HomeInfoId] FOREIGN KEY([HomeInfoId])
REFERENCES [dbo].[HomeInfoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlanImages] CHECK CONSTRAINT [FK_dbo.PlanImages_dbo.HomeInfoes_HomeInfoId]
GO
USE [master]
GO
